html {
    background-color: rgb(44, 42, 40);
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    color: cornflowerblue;
    margin: 1rem 0;
    font-size: 2.5rem;
}

h2 {
    color: rgb(204, 192, 176);
    font-size: 2rem;
}

p {
    color: #c4b7b7;
    font-size: large;
}

a {
    color: #e47f7f;
    font-size: large;
    font-weight: bolder;
    padding: 0.5rem;
    text-decoration: none;
}

a:hover {
    color: #e29d9d;
}

ul {
    margin-left: 1rem;
}

li {
    color: #d2d898;
    font-size: large;
    padding-top: 4px;
}