---
const platform = "github";
const username = "Erickype";
---

<footer>
  <p>Learn more about my projects on<a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
</footer>

<style>
    footer{
        border: solid;
        border-color: rgb(17, 15, 15);
        background-color: #8b91da;
        border-radius: 2rem;
        align-items: center;
        text-align: center;
    }
    p{
        color: rgb(44, 15, 6);
    }
    a{
        color: #8ef08e;
    }
</style>